.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 20px 20px;
}

.about-container p {
    font-size: 1.5rem;
}

.about-container li {
    font-size: 1.5rem;
}

.about-title {
    font-family: "Real Head Web W04 Medium";
}

.about-subtitle {
    font-family: "Real Head Web W04 Medium";
}