.joke-container {
    background-color: #000;
    color: #fff;
    height: 5vh;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
}

.joke-text-container {
    width: 40%;
    overflow: hidden;
    position: relative;
}

.joke-text {
    width: auto;
    white-space: nowrap;
    animation: marquee 14s linear infinite;
    font-size: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.newJoke-button {
    position: absolute;
    top: .5rem;
    right: 99px;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: solid 3px rgb(206, 206, 206);
}

.newJoke-button:hover {
    cursor: pointer;
    background-color: yellow;
    border: solid 3px rgb(206, 206, 0);
}

.newJoke-button:active {
    transform: translateY(2px);
    border: solid 3px rgb(206, 206, 0);
    background-color: #FFD700;
}

.flash-icon {
    height: .8rem;
    width: .8rem;
}

.pola-button {
    padding: 2px 2px;
}

@media (max-width: 768px) {
    .joke-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
        width: auto;
    }

    .joke-text-container {
        width: 300px;
    }

    .joke-text {
        width: auto;
        font-size: 12px;
    }

    .newJoke-button {
        right: 20px;
    }
}
