.instant-film-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(11.25rem, 100%), 1fr));
    grid-gap: 1rem;
}

.instant-card-film-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instant-card-title {
    text-align: center;
    margin: 3px 5px;
    padding: 0;
    color: #000;
    font-family: "Real Head Web W04 Medium";
    font-size: 50px;
}

.polaroid-film-frame-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    margin: 0 20px;
}

.polaroid-card-details {
    margin: 15px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 16rem;
    height: auto;
}

.polaroid-card-details:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    border-radius: 2rem;
    padding-bottom: 5px;
}

.polaroid-card-image {
    height: auto;
    width: 220px;
    border-radius: .5rem;
    margin: 10px 10px;
    padding: 0;
}

.polaroid-card-title {
    margin: 0 5px;
    padding: 0;
    text-align: center;
    color: #000;
    font-size: 15px;
    font-family: "Real Head Web W04 Medium";
    text-wrap: wrap;
}

@media (max-width: 768px) {
    .polaroid-card-details {
        height: auto;
        width: auto;
        padding-bottom: 5px;
    }

    .polaroid-card-image {
        height: auto;
        width: 150px;
    }

    .polaroid-card-title {
        font-size: 12px;
    }

}

.motion-button {
    background-color: transparent;
    border-radius: 2rem;
    border: none;

}
.details-button:hover {
    cursor: pointer;
}