@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://db.onlinewebfonts.com/c/ee83134559a4f33cac174cf72426289c?family=Real+Head+Web+W04+Medium');

/* ------------- JokeBar ------------- */
.joke-container {
    background-color: #000;
    color: #fff;
    height: 5vh;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    font-family:'Courier New', Courier, monospace;
    overflow: hidden;
}

.joke-text-container {
    width: 40%;
    overflow: hidden;
    position: relative;
}

.joke-text {
    width: auto;
    white-space: nowrap;
    animation: marquee 14s linear infinite;
    font-size: 20px;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.newJoke-button {
    position: absolute;
    top: .5rem;
    right: 99px;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-weight: bold;
    border: solid 3px rgb(206, 206, 206);
}

.newJoke-button:hover {
    cursor: pointer;
    background-color: yellow;
    border: solid 3px rgb(206, 206, 0);
}

.newJoke-button:active {
    transform: translateY(2px);
    border: solid 3px rgb(206, 206, 0);
    background-color: #FFD700;
}

.flash-icon {
    height: .8rem;
    width: .8rem;
}

.pola-button {
    padding: 2px 2px;
}

@media (max-width: 768px) {
    .joke-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 6vh;
    }

    .joke-text-container {
        width: 300px;
    }

    .joke-text {
        width: auto;
        font-size: 12px;
    }

    .newJoke-button {
        right: 20px;
    }
}

/* ------------- NavBar ------------- */
.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Real Head Web W04 Medium";
    margin: 0;
    padding: 0;
    height: 10vh;
}

.main-title {
    text-decoration: none;
}

.logo-container {
    margin: 0;
    padding: 10px 10px;
    width: fit-content;
}

.links-container {
    margin: 0;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    display: inline;
    margin-right: 20px;
}

.nav-links {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.nav-links:hover {
    text-shadow: 2px 2px 4px rgba(72, 72, 72, 0.473);
}

@media (max-width: 768px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .logo-container {
        padding: 5px 0;
        margin: 0;
    }

    .logo-container h1 {
        padding: 0;
        margin: 0;
    }

    .links-container {
        margin: 0;
        padding: 0;
    }

    .links li {
        margin: 0;
        font-size: 13px;
        padding: 0 5px;
    }

    .nav-links {
        font-size: 20px;
    }
}

.searchbar {
    border-radius: 1rem;
    height: 1.5rem;
    padding: 0 10px;
    width: 300px;
}

.result-container {
    position: absolute; /* Set the result container to absolute positioning */
    top: 120px; /* Adjust the top value as needed to position it below the search bar */
    max-height: 200px; /* Limit the maximum height of the result container */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
    background-color: #fff; /* Set the background color for the result container */
    border: 1px solid #000000; /* Add a border for the result container */
    border-radius: 1rem;
    z-index: 1; /* Ensure it's displayed on top of other elements */
    width: 320px; /* Adjust the width as needed */
}

.result {
    list-style-type: none;
}

/* ------------- Hero ------------- */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 10px 10px;
    height: 50vh;
    overflow: hidden;
}

.hero-image {
    max-width: 1200px;
    transition: box-shadow 0.3s;
    border-radius: 2rem;
}

.hero-image:hover {
    cursor: crosshair;
}

@media (max-width: 768px) {
    .hero-container {
        height: auto;
        padding: 0;
    }

    .hero-image {
        border-radius: 0;
        width: 500px;
    }
}

/* ------------- Footer ------------- */
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ------------- FILM ------------- */
.instant-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instant-card-title {
    text-decoration: underline;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Real Head Web W04 Medium";
}

.polaroid-card-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.film {
    height: 20vh;
    width: auto;
}

.film:hover {
    box-shadow: 2px 2px 20px rgba(72, 72, 72, 0.473);
    cursor: pointer;
}

.goCard {
    margin: 15px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 14rem;
    height: 33vh;
    border-radius: 2rem;
}

.film-Title {
    margin: 3px 5px;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "Real Head Web W04 Medium";
}

.film-Image {
    height: auto;
    width: 180px;
    border-radius: .5rem;
    margin: 10px 10px;
    padding: 0;
}



/* ------------- PolaroidCard ------------- */
.polaroidCard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px 30px;
    gap: 15px;
}

.polaCard {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 14rem;
    height: 33vh;
    border-radius: 2rem;
}

.polaTitle {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "Real Head Web W04 Medium"
}

.polacard small {
    margin: 5px 5px;
    padding: 0;
    font-weight: bold;
}

.polaImage {
    height: auto;
    width: 160px;
    border-radius: .5rem;
    margin: 10px 10px;
    padding: 0;
}

/* ------------- Backdrop ------------- */
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------- Modal ------------- */
.modal {
    background-color: red; 
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}