@import url('https://fonts.googleapis.com/css2?family=Mandali&display=swap');
@import url('https://db.onlinewebfonts.com/c/ee83134559a4f33cac174cf72426289c?family=Real+Head+Web+W04+Medium');

/* ------------- Hero ------------- */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    width: auto;
    height: 50vh;
    overflow: hidden;
    margin: 0;
}

.hero-image {
    max-width: 1200px;
    transition: box-shadow 0.3s;
    border-radius: 2rem;
}

.hero-image:hover {
    cursor: crosshair;
}

@media (max-width: 768px) {
    .hero-container {
        display: flex;
        justify-content: center;
        height: auto;
        padding: 0;
        width: 100%;
    }

    .hero-image {
        border-radius: 0;
        width: 500px;
    }
}

/* ------------- Footer ------------- */


/* ------------- FILM ------------- */
.instant-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instant-card-title {
    text-decoration: underline;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Real Head Web W04 Medium";
}

.polaroid-card-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.film {
    height: 20vh;
    width: auto;
}

.film:hover {
    box-shadow: 2px 2px 20px rgba(72, 72, 72, 0.473);
    cursor: pointer;
}

.goCard {
    margin: 15px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 14rem;
    height: 33vh;
    border-radius: 2rem;
}

.film-Title {
    margin: 3px 5px;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "Real Head Web W04 Medium";
}

.film-Image {
    height: auto;
    width: 180px;
    border-radius: .5rem;
    margin: 10px 10px;
    padding: 0;
}


/* ------------- PolaroidCard ------------- */
.polaroidCard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px 30px;
    gap: 15px;
}

.polaCard {
    margin: 10px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 16rem;
    height: auto;
    border-radius: 2rem;
}

.polaCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
    border-radius: 1.5rem;
    height: auto;
    padding-bottom: 5px;
}

.polaTitle {
    margin: 3px 5px;
    padding: 0;
    text-align: center;
    color: #000;
    font-family: "Real Head Web W04 Medium"
}

.polaImage {
    height: auto;
    width: 250px;
    border-radius: .5rem;
    margin: 10px 10px;
    padding: 0;
}

.motion {
    background-color: transparent;
    border: none;
}

/* ------------- Backdrop ------------- */
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ------------- Modal ------------- */
.modal {
    background-color: red; 
    width: clamp(50%, 700px, 90%);
    height: min(50%, 300px);
    margin: auto;
    padding: 0 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}